<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= task.done %>
  </p>

  <p>
    <strong>Recurring:</strong>
    <%= task.recurring %>
  </p>

  <p>
    <strong>Important:</strong>
    <%= task.important %>
  </p>

  <p>
    <strong>Urgent:</strong>
    <%= task.urgent %>
  </p>

</div>
