<div id="<%= dom_id checkin %>">
  <p>
    <strong>Date:</strong>
    <%= checkin.date.in_time_zone("Pacific Time (US & Canada)") %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= checkin.mood %>
  </p>

  <p>
    <strong>Sleep:</strong>
    <%= checkin.sleep %>
  </p>

  <p>
    <strong>Stomach:</strong>
    <%= checkin.stomach %>
  </p>

</div>
